h1 {
    text-align: center;
    background-color: cornflowerblue;
    border: 3px solid red;
    border-radius: 20px;
}

.git {
    color: red;
}

.antony {
    color: darkgreen;
}



.rt {
    text-align: center;
}

h2 {
    text-align: center;
    color: green;
    background-color: yellow;
}

iframe {}

.tre{
    color: green;
}
.maar{
    color: green;
}
.qwerty{
    background-color: blue;
    color: white;
}
.you{
    color: white;
}